body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.points {
    display: flex;
    flex-direction: row;
}
.player, .pc {
    display: flex;
    padding: 20px;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.results {
    padding: 15px;
}
.playerScore, .pcScore {
    font-size: 50px;
}